#!/usr/bin/env bash

set -e
set -x

RED='\033[0;31m'
GREEN='\033[0;32m'
NC='\033[0m' # No Color

THIS_DIR=$(dirname $(realpath -s $0))
# THIS_DIR=$(cd "$(dirname "$0")"; pwd)
# THIS_DIR=$(dirname $1)
PARENT_DIR="$(dirname ${THIS_DIR})"

export PATH="${THIS_DIR}/bin:$PATH"

